@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

   /*--navigation--*/

.navbar{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6);!important;
}
.navbar-brand img{
    height: 2rem;
}
navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1EBBA3;
}

   /*--landing age--*/
.home-inner{
    background-image: url("../image/mainbc.jpg");
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top:38%;
    z-index:1;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .1rem .8rem black;
    padding-bottom:1rem ;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom:1.6rem ;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;

}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .1rem .8rem black;
    padding-bottom:1rem ;


/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}






.site-section {
    padding: 3em 0; }
@media (min-width: 768px) {
    .site-section {
        padding: 7em 0; } }
.site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative; }
.site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #28a745; }
.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #28a745; }




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
